// 基本設定
$total-columns  : 5; // 預設 5 欄
$column-width   : 5em;
$gutter-width   : 1.5em;
$grid-padding   : 1em;

// add media
$ipad           : 641px 8;  // min-width 641px 寬度超過 641px 後的欄位數量
$desktop        : 941px 12; // min-width 941px 寬度超過 941px 後的欄位數量


// layout debug
// @import "layout-debug";

// 設定大容器
body {
  margin: 0;
  padding: 0;
}
.container {
  @include container;
}
